body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(./blackjack.jpeg);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

/* #box {
    margin-top: 280px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 15px 50px 30px;
    border: solid black 4px;
} */
h1{
    color: #CC3636;
    padding-top: 300px;
}

#message-el {
    font-style: italic;
}

button {
    color: #E6B325;
    width: 250px;
    background: #CC3636;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
}

